<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
      <section name="FriwoControl.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
  </startup>
  <connectionStrings>
    <!--<add name="FriwoControlContext" connectionString="data source=.;initial catalog=FriwoControl;integrated security=true;MultipleActiveResultSets=True;App=EntityFramework" providerName="System.Data.SqlClient" />-->
    <add name="FriwoControlContext" connectionString="data source=vtnapp1;initial catalog=FriwoControl;user id=vtnadmin;pwd=ZAQ!xsw2;MultipleActiveResultSets=True;App=EntityFramework" providerName="System.Data.SqlClient" />
  </connectionStrings>
  <userSettings>
    <FriwoControl.Properties.Settings>
      <setting name="ICT_Log_Folder" serializeAs="String">
        <value />
      </setting>
      <setting name="ICT_Log_Interval" serializeAs="String">
        <value>60</value>
      </setting>
      <setting name="ATE_Log_Folder" serializeAs="String">
        <value />
      </setting>
      <setting name="ATE_Log_Interval" serializeAs="String">
        <value>60</value>
      </setting>
      <setting name="UltSonic_Clean_Max" serializeAs="String">
        <value>200</value>
      </setting>
      <setting name="UltSonic_Clean_Quantity" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="Success_Sound_Uri" serializeAs="String">
        <value>Sounds/success-sound.mp3</value>
      </setting>
      <setting name="Error_Sound_Uri" serializeAs="String">
        <value>Sounds/error-sound.mp3</value>
      </setting>
      <setting name="Box_Printer" serializeAs="String">
        <value />
      </setting>
    </FriwoControl.Properties.Settings>
  </userSettings>
</configuration>